*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
:root {
    font-size: 62.5%;    
}
 @font-face {
        font-family: "vazir";
        src: url(../font/Vazir-Light.ttf) format('truetype');
}
body {
        /* background: #020024; */
/* background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(8, 25, 131, 1) 0%, rgba(7, 60, 155, 1) 38%, rgba(5, 113, 190, 1) 67%, rgba(2, 169, 226, 1) 100%, rgba(0, 212, 255, 1) 100%); */
          font-family: "vazir";
          --color-primary: rgba(247, 247, 247, 1);
          --color-secondary: rgba(47, 13, 12, 1);
          --color-txt-primary: rgba(19, 5, 5, 1);
          --color-txt-secondary: rgba(19, 5, 5, 0.507);
          --color-content-primary:rgba(204, 49, 45, 1);
          --color-our:rgba(68, 140, 249, 0.1);
          --color-line :rgba(167, 154, 154, 0.103);
          font-size: 1.4rem;
          height: 200vh;
}

.account-section {
    width: 90%;
    height: 60vh;
    background-color: var(--color-primary);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    margin: 1rem auto;
    margin-top: 2rem;
    border-radius: 2rem;
}
.icon-padding {
    padding: 1.5rem;
    border-radius: 1rem;
}
.icon-user {
    background-color: rgba(255, 255, 255, 1);
}
.account-section--icon-linear {
    margin-right: 10rem;
}
.account-section__line {
    border: 1px solid var(--color-line);
    width: 90%;
}
.account-section___button {
    display:flex;
    align-items: center;
    width: 90%;
    height: 8vh;  
    margin-top: 1.5rem;
}
.account-section___button > .account-section--link , .account-section--icon{
    margin-right: 1.5rem;
}
.account-section--link {
    color: var(--color-txt-primary);
    text-decoration: none;
}
.orders-button {
    background-color: var(--color-secondary);
    border-radius: 2.4rem;
}
.orders-button-link {
    color: var(--color-primary);
}
.user-profile__name  {
    font-weight: 600;
}
.user-profile__number {
    font-size: 1.2rem;
    font-weight: 300;
    display: inline-block;
    margin-top: 1rem;
    color: var(--color-txt-secondary);
}
.messages-info__circle {
    background-color: var(--color-content-primary);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    color: white;
    place-content: center;
    text-align: center;
    margin-right: 14rem;
}
.text-title{
    margin: 0 auto;
    margin-top: 3rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.text-title__txt {
    font-weight: 700;
}
.space__line {
    border: 1px solid var(--color-line);
    margin-top: 3rem;
    width: 100%;
}
.section-orders {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: auto;
}
.box-processing {
    display: flex;
    flex-shrink: 0;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 12vh;
    border: 1px solid rgba(95, 93, 93, 0.24);
    border-radius: 1.6rem;
    padding: 2.4rem;
    margin-top: 3rem;
}
.icon-processing {
    background-color:rgba(68, 140, 249, 0.1);
}
.box-processing__text-size {
    font-size: 1.6rem;
    font-weight: 700;
}
.status-badge {

    background-color:rgba(68, 140, 249, 0.1);
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 5vh;
    margin-top: 2em;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;


}
.status-badge_text {
    font-weight: 600;
    color: rgba(46, 122, 241, 1);
}
.content-order-price {

    margin-top: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-order-price__order {
    color: rgba(96, 96, 96, 1);
    font-weight: 600;
}
.content-order-price_number {
    color: black;
}
.content-order-price__price {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 1rem;
    direction: ltr;
}
.toman {
    font-size: 1rem;
}
.continer {
    position: relative;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    border-radius: 2rem;
    margin-top: 2rem;
    height: 13vh;
}
.continer__img {
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1rem;
}
.continer__section-txt-icon {
    display: flex;
    gap: 1rem;
}
.continer__text {
    color: var(--color-content-primary);
    font-weight: 600;
}
@media only screen and (min-width: 370px) {
    .account-section--icon-linear {
    margin-right: 15rem;
    }
    .messages-info__circle {
    margin-right: 18rem;
}

}